extends ../shared/template
block content
  #accounts
    h2 Accounts
    table
      thead
        tr
          th Name
          th Balance
          th Type
          th Date Opened
      tbody
        each account in accounts
          tr(style='background-color:#{account.color};')
            td: a(href='/accounts/#{account._id}')= account.name
            td= helper.currencyFormat(account.balance)
            td= account.type
            td= moment(account.opened).format('ll')
